@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  /* background-color: yellow; */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-height: 900px) {
  #root {
    height: 100%;
  }
}
